@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<h1 class="fontenome">Entre em contato comigo:</h1>

<address>
    WhatsApp: 11 97109-3353<br />
    Rua Campos do Jordão, 137 - Parque Savoy City - São Paulo - SP<br />
    

</address>

<address>
    <strong>Linkedin:</strong>   <a href="https://www.linkedin.com/in/amanda-carvalho-pinto-de-azevedo-3b4437179/">Amanda Carvalho Pinto de Azevedo</a><br />
    <strong>Instagram:</strong> <a href="https://www.instagram.com/amandacpa1992/?hl=pt-br">amandacpa1992</a>

</address>

<img src="~/Images/Logo1.jfif" width="80" height="110">
<img src="~/Images/Logo2.jfif" width="80" height="110">
<img src="~/Images/Logo3.jfif" width="80" height="110">

