@{
    ViewBag.Title = "Home Page";
}



<div class=" text-center jumbotron">
    <img src="~/Images/cbaf6b1b-0c10-4c5a-8feb-b0815236c203.jfif" width="180" height="185" class="rounded-circle">

  
    <h1 class="fontenome">Amanda Carvalho Pinto de Azevedo</h1>

    <p class="lead">
        Olá, seja bem vindo à minha página, estou contente em te ver por aqui! Estou ingressando na área de TI e essa é a
        minha primeira aplicação ASP.Net de muitas que estão por vir. Sou estudante do curso de análise e desenvolvimento
        de sistemas e estou atuando como estagiária em uma grande empresa multinacional de consultoria e inovações tecnologicas
        localizada em São Paulo.
    </p>

</div>