
@{
    ViewBag.Title = "Skills";
}

<h2>Skills</h2>



<div>
    <img src="~/Images/banner-1-1-1920x765.jpg" width="500" height="185">


    <h1 class="fontenome">Principais Habilidades:</h1>

    <p class="lead">
        Conhecimento básico em Java e C#, linguagens que estão fazendo parte do meu treinamento atualmente. 
        Experiência no ramo publicitário com habilidade em identidade visual, criação de layouts, desenvolvimento de publicidade 
        em meios digitais como e-mail marketing, sites e anúncios para redes sociais (social media).
        Elaboração de estratégias de marketing para promover o negócio, gerar crescimento de vendas e divulgação da marca.
        
    </p>

</div>